@import url("variables.css");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

section {
  margin: 0;
}

.game-section {
  flex: 1;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 1fr;
  height: 100%;
  margin: 0;
}

.game-info {
  padding: 2rem 4rem;
  margin: 0;

  background-color: var(--gray);
  color: white;
}

.game-info ul {
  list-style-type: none;
}

.game-state {
  margin: 0 0 4rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.word-hints {
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.word-hint {
  color: var(--light-gray);
  transition: color 0.5s;
}

.word-hint.highlighted {
  color: white;
  text-decoration: underline;
}

.crossword-container {
  padding: 2rem 3.2rem;
}

.grid-container {
  margin: 3.2rem auto;
}

.crossword-grid {
  display: grid;
  gap: 2px;
  margin: 0 auto;
}

.crossword-grid-cell {
  aspect-ratio: 1;
}

.crossword-letter-cell {
  position: relative;

  background-color: white;
  outline: 2px solid var(--light-gray-2);
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--gray);
  transition: transform 0.1s;
  transition: outline 0.05s;

  box-sizing: border-box;
}

.crossword-letter-cell.word-selected {
  z-index: 1;
  outline: 4px solid black;
  font-weight: 700;
  color: black;
}

.crossword-letter-cell.correct {
  background-color: var(--light-gray);
  outline: 2px solid var(--green);
  color: var(--green);
  z-index: 2;
}

.crossword-letter-cell.incorrect {
  outline: solid var(--red);
  color: var(--red);
  z-index: 2;
}

.crossword-letter-cell.selected {
  transform: scale(1.1, 1.1);
  z-index: 3;
}

.crossword-letter {
  display: inline;

  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;

  transform: translateY(2px);
}

.word-index {
  position: absolute;
}

.win-message {
  margin: 0 0 3.2rem;
}
